.home {
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* TODO should we support old browsers (blend-mode only 94%) */
  background-blend-mode: darken;
}

.blur {
  backdrop-filter: blur(1px);
}

.dailies {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.font {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #333;
}
